:root{
    --primary: #187797;
    --secondary: #9ed0ea;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;

}
body{
    background: #9bdff2;
    background: radial-gradient(circle, rgb(21, 126, 155) 0%, rgb(45, 76, 110) 60%);
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
}

.container
{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1rem;
    background: #9bdff2;
    background: radial-gradient(circle, rgba(155, 223, 242, 1) 10%, rgba(40, 73, 107, 1) 150%);
    border-radius:20px;
    padding:20px;
    max-width:600px;
    width:70%;
    color:#3448a3;
}
h1{
    font-size:2rem;
}
.user-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}
.user-input-container p{
    font-size:1rem;

}
.user-input-container {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
}
.user-input-container input{
    border-radius:3px;
    border:1px solid #3448a3;
}
.user-input-container button{
    background-color: #b3ecff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 transform ease-in-out;
}
.user-input-container button:hover{
    background-color:var(--secondary);
    transform:scale(1.05);
}
.user-input-container ::placeholder
{
    padding:5px;
}
#user-input{
    width:65%;
    padding:0.3rem;
}
.progress{
    display:flex;
    flex-direction:row;
    gap:15px;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
.circle{
    width:120px;
    height:120px;
    border-radius:50%;
    position:relative;
    border:5px solid #5873ca;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size: 16px;
    columns:white;
    background: #009dff;
    background: conic-gradient(rgba(0, 157, 255, 1) var(--progress-degree,0%), rgb(34, 214, 250) 0%);
}
.circle span{
    position:relative;
    z-index:2;
}
